<div id="subnav" class="subnav">
    <notempty name="_extra_menu">
        {// 动态扩展菜单 //}
        {:extra_menu($_extra_menu,$__MENU__)}
    </notempty>
    <volist name="__MENU__.child" id="sub_menu">
        <!-- 子导航 -->
        <notempty name="sub_menu">
            <notempty name="key"><h3><i class="icon icon-unfold"></i>{$key}</h3></notempty>
            <ul class="side-sub-menu">
                <volist name="sub_menu" id="menu">
                    <li>
                        <a class="item" href="{$menu.url|U}">{$menu.title}</a>
                    </li>
                </volist>
            </ul>
        </notempty>
        <!-- /子导航 -->
    </volist>
 <h3>
 	<i class="icon <notin name="Think.ACTION_NAME"  value="mydocument,draftbox,examine">icon-fold</notin>"></i>
 	个人中心
 </h3>
 	<ul class="side-sub-menu <notin name="Think.ACTION_NAME"  value="mydocument,draftbox,examine">subnav-off</notin>">
 		<li <eq name="Think.ACTION_NAME" value="mydocument">class="current"</eq>><a class="item" href="{:U('article/mydocument')}">我的文档</a></li>
 		<eq name="show_draftbox" value="1">
 		<li <eq name="Think.ACTION_NAME" value="draftbox">class="current"</eq>><a class="item" href="{:U('article/draftbox')}">草稿箱</a></li>
 		</eq>
		<eq name="show_examine" value="1">
		<li <eq name="Think.ACTION_NAME" value="draftbox">class="examine"</eq>><a class="item" href="{:U('article/examine')}">待审核</a></li>
		</eq>
 	</ul>
	
	
	
	 <h3>
 	<i class="icon <notin name="Think.ACTION_NAME"  value="mydocument,draftbox,examine">icon-fold</notin>"></i>
		内容管理
	</h3>
 	<ul class="side-sub-menu <notin name="Think.ACTION_NAME"  value="mydocument,draftbox,examine">subnav-off</notin>">
	
 		<li <eq name="Think.ACTION_NAME" value="draftbox">class="examine"</eq>><a class="item" href="{:U('article/examine')}">待审核</a></li>
		
 	</ul>
	
	
	
	


    <!-- 回收站 -->
	<eq name="show_recycle" value="1">
    <h3>
        <em class="recycle"></em>
        <a href="{:U('article/recycle')}">回收站</a>
    </h3>
    </eq>
</div>
<script>
    $(function(){
        $(".side-sub-menu li").hover(function(){
            $(this).addClass("hover");
        },function(){
            $(this).removeClass("hover");
        });
    })
</script>
